---
import Cms from "@components/cms";

---

<html lang="en">
	<head>
		<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
	</head>
	<body class="w-screen h-screen">
		<Cms client:only="preact" />
	</body>
</html>